<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/cdn_bootstrap_5-3_min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap_docs_5-3.css') }}">
      <script src="{{ url_for('static', filename='bootstrap/js/cdn_bootstrap_5-3.js') }}"></script>
      <title>a2d Instructions</title>
      <link rel="icon" type="image/png" href="{{ url_for('get_image') }}">
  </head>

  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap_5-3_mode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/version.js') }}"></script>

    <!-- Navbar -->
    {% include 'navbar_login.html' %}

    <!-- Docs installation instructions -->
    <div class="container-fluid" style="margin-left: 0px;">
      <div class="row justify-content-md-center"></div>
          <h6 style="font-size: 18px">a2d Documentation</h6>
          <div class="alert alert-danger" role="alert" style="margin-right: 0px;">
            <a style="font-size: 14px">
              <p> Documentation for a2d is not installed! </p>
              <p> Download a2d doc deb package from <a href="https://github.com/NGC2023/a2d/releases" target="_blank" rel="noopener noreferrer">GitHub Releases.</a><br> Navigate to the directory where you downloaded the package in the command line and run:</p>
              <pre><code>sudo apt install -y ./<a2d-doc package>.deb</code></pre>
              <p>Or you can visit <a href="https://ngc2023.github.io/a2d/" target="_blank" rel="noopener noreferrer">Online a2d Documentation</a></p>
            </a>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid" style="margin-left: 0px;">
      {% include 'footer.html' %}
    </div>
  </body>
</html>
