[Desktop Entry]
Type=Application
Name=a2d portal
Exec=/usr/share/scripts/a2d_desktop_url.sh
Icon=/usr/share/a2dapp/static/images/logo_clearbg.png
Categories=HamRadio;
Comment=APRS to DAPNET portal
Version=2.0
Keywords=hamradio;radio;aprs;dapnet;pager;pocsag;message;portal;a2d;webapp;
Terminal=false
DBusActivatable=true
