Source: a2d
Maintainer: Yogeswaran Umasankar, NY3W <kd8mbd@gmail.com>
Homepage: https://github.com/NGC2023/a2d
Section: hamradio
Priority: optional
Build-Depends: debhelper-compat (= 13), python3-setuptools, python3-pip, python3-dev
Standards-Version: 4.5.1

Package: a2d
Architecture: all
Depends: python3, python3-cryptography, python3-requests, python3-flask, python3-crontab, python3-gunicorn, nginx, certbot, python3-psutil
Description: APRS to DAPNET portal
 This portal serves as a bridge between the APRS Automatic Packet Reporting System 
 and the DAPNET Decentralized Amateur Paging Network platform. It allows APRS users 
 to relay their APRS messages and alerts to their DAPNET pager. This integration 
 enables seamless communication between two distinct radio communication systems, 
 enhancing the reach and accessibility of critical information for amateur radio enthusiasts.