<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/cdn_bootstrap_5-3_min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap_docs_5-3.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/cdn_bootstrap_5-3_bundle_min.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,200" />
    <title>a2d PIN</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_clearbg.png') }}">
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <script src="{{ url_for('static', filename='js/input_cursor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clean_pin.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap_5-3_mode.js') }}"></script>

    <!-- Navbar -->
    {% include 'navbar_login.html' %}

    <div class="container-fluid" style="margin-left: 0px; display: flex; justify-content: center; align-items: center;">
        <div class="row justify-content-md-center">
            <h6 id="staticBackdropLabel" style="display: flex; justify-content: center; align-items: center;">New PIN</h6>
            <div class="mb-3" style="justify-content: center; align-items: center;">
            <form id="pinForm" action="/create-passphrase" method="POST">
                <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                    <div class="mb-3" style="justify-content: center; align-items: center;">
                        <input type="password" name="digit1" inputmode="numeric" pattern="[0-9]" maxlength="1" style="width: 30px;" required oninput="moveToNext(this, 'digit2')">
                        <input type="password" name="digit2" inputmode="numeric" pattern="[0-9]" maxlength="1" style="width: 30px;" required oninput="moveToNext(this, 'digit3')">
                        <input type="password" name="digit3" inputmode="numeric" pattern="[0-9]" maxlength="1" style="width: 30px;" required oninput="moveToNext(this, 'digit4')">
                        <input type="password" name="digit4" inputmode="numeric" pattern="[0-9]" maxlength="1" style="width: 30px;" required oninput="moveToNext(this, 'digit5')">
                        <input type="password" name="digit5" inputmode="numeric" pattern="[0-9]" maxlength="1" style="width: 30px;" required oninput="moveToNext(this, 'digit6')">
                        <input type="password" name="digit6" inputmode="numeric" pattern="[0-9]" maxlength="1" style="width: 30px;" required>
                    </div>
                </div>
                <h6 id="staticBackdropLabel" style="display: flex; justify-content: center; align-items: center;">New Passphrase</h6>
                <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                    <div class="mb-3" style="justify-content: center; align-items: center;">
                        <input type="password" name="passphrase" required>
                    </div>
                </div>
                <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelAction(); clearPinFields()">Cancel</button> &nbsp; &nbsp;
                    <button type="submit" class="btn btn-primary" id="createButton">Update</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>
